#parent {
    width: 200px;
    border: 1px solid orange;
}

#child {
    margin: 25px 50px 100px 10px;
    height: 50px;
    border: 1px dashed blue;
}

#parent127_1 {
    width: 200px;
    border: 1px solid orange;
}

#child127_1 {
    margin: 100px 50px;
    height: 50px;
    border: 1px dashed blue;
}

#parent127_2 {
    width: 200px;
    border: 1px solid orange;
}

#child127_2 {
    margin: 25px 50px;
    height: 50px;
    border: 1px dashed blue;
}

#parent128_1 {
    width: 200px;
    border: 1px solid orange;
}

#child128_1 {
    margin: 100px 50px 30px;
    height: 50px;
    border: 1px dashed blue;
}

#parent128_2 {
    width: 400px;
    border: 1px solid orange;
}

#child128_2 {
    margin: 30px 100px 50px;
    height: 50px;
    border: 1px dashed blue;
}

#parent130_1 {
    width: 200px;
    border: 1px solid orange;
}

#child130_1 {
    margin: 100px 50px;
    height: 50px;
    border: 1px dashed blue;
}

#parent130_2 {
    width: 200px;
    border: 1px solid orange;
}

#child130_2 {
    margin: 25px 50px;
    height: 50px;
    border: 1px dashed blue;
}

#parent131_1 {
    width: 200px;
    border: 1px solid orange;
}

#child131_1 {
    margin: 100px 50px 30px;
    height: 50px;
    border: 1px dashed blue;
}

#parent131_2 {
    width: 400px;
    border: 1px solid orange;
}

#child131_2 {
    margin: 30px 100px 50px;
    height: 50px;
    border: 1px dashed blue;
}

#elem132_1 {
    padding: 50px;
    width: 200px;
    border: 1px solid red;
    text-align: justify;
}

#elem132_2_1 {
    width: 500px;
    padding: 20px;
    margin-bottom: 30px;
    border: 1px solid green;
    text-align: justify;
}

#elem132_2_2 {
    width: 300px;
    padding: 10px;
    margin-left: 50px;
    border: 1px solid red;
    text-align: justify;
}

#elem133 {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 100px;
    padding-left: 30px;
    width: 200px;
    border: 1px solid red;
    text-align: justify;
}

#elem134_1 {
    width: 300px;
    border: 1px solid red;
    text-align: justify;
    padding: 10px 20px 30px 40px;
}

#elem134_2 {
    width: 300px;
    border: 1px solid red;
    text-align: justify;
    padding: 60px 30px;
}

#elem134_3 {
    width: 300px;
    border: 1px solid red;
    text-align: justify;
    padding: 10px 20px 40px;
}

#elem138 {
	width: 100px;
	height: 100px;
	background: grey;
	padding: 20px;
	border: 10px solid red;
	box-sizing: border-box;
}

.h2, .h3, .p1, .b1, i, a{
	width: 50px;
	height: 50px;
	border: 1px solid red;
}

.elem150_1 {
	display: inline;
	width: 100px;
	height: 100px;
	border: 1px solid red;
}

.elem150_2 {
	display: block;
	width: 50px;
	height: 80px;
	border: 1px solid blue;
}

.elem155 {
	width: 100px;
	height: 100px;
	border: 1px solid red;
    display: inline-block;
}

#parent156 {
    width: 450px;
    border: 1px solid red;
}

#elem156_1 {
    height: 100px;
    width: 100px;
    border: 1px solid green;
    margin: 10px auto;
}
#elem156_2 {
    height: 100px;
    width: 200px;
    border: 1px solid green;
    margin: 10px auto;
}
#elem156_3 {
    height: 100px;
    width: 300px;
    border: 1px solid green;
    margin: 10px auto;
}

.parent161 {
	padding: 10px 0;
	border: 1px solid red;
    text-align: center;
}

.parent162 {
	padding: 10px 0;
	border: 1px solid red;
    text-align: right;
    padding-right: 10px;
}