#elem {
    width: 300px;
    height: 200px;
    border-width: 5px;
    border-style: solid;
    border-color: blue;
}

#elem93 {
    width: 300px;
    height: 200px;
    border-width: 5px;
    border-style: dotted;
    border-color: red;
}

#elem94 {
    width: 300px;
    height: 200px;
    border-width: 2px;
    border-style: dashed;
    border-color: orange;
}

#elem96 {
    width: 300px;
    height: 200px;
    border-width: 10px;
    border-style: double;
    border-color: blue;
}

#elem97_1 {
    width: 300px;
    height: 200px;
    border: 1px solid red;
}

#elem97_2 {
    width: 300px;
    height: 200px;
    border: 2px dotted blue;
}

#elem97_3 {
    width: 300px;
    height: 200px;
    border: 3px dashed green;
}

#elem97_4 {
    width: 300px;
    height: 200px;
    border: 5px double orange;
}